Package: com.34306.2nd
Name: 2nd
Architecture: iphoneos-arm
Description: Add second line to your time on statusbar
Maintainer: Little 34306
Author: 34306
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 2.0-1+debug
Installed-Size: 312
